@layout('layouts.master')
@section('content')

  <a class="btn btn-primary" href="{{route('task.index')}}">Back To List</a> <br/>

  <form action="{{route('task.update', {id: task.id})}}?_method=PUT" method="POST">
    {{ csrfField() }}
    <input class="form-control" name="title" value="{{task.title}}" />
    <button type="submit" class="btn btn-primary">Update</button>
  </form>

@endsection
